:root {
  --border: 3px solid #EEE;
  --color-primary: #E7739A;
  --color-primary-hover: #F9DCE6;
  --color-secondary: #BEE265;
  --color-secondary-hover: #E9F5CC;
  --color-tertiary: #0081B8;
  --color-tertiary-hover: #00ABF5;
  --color-surface: #37323E;
  --color-background: #28242D;
  --color-text: #F5F4F6;
  --font-family: "Mulish", sans-serif;
  --font-size-body: 16px;

  --background-transition: background-color 150ms ease-in-out;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-surface);
  color: var(--color-text);
}

.wrapper {
  max-width: 600px;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

input {
  padding: 12px 16px;
  border: 1px solid #786D88;
  border-radius: 16px;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

.btn {
  padding: 4px 16px;
  border-radius: 12px;
  background-color: var(--color-tertiary);
  color: #fff;
  border: none;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: 600;
  transition: var(--background-transition);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-tertiary-hover);
}

h1 {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

.board {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  border-radius: 24px;
  overflow: hidden;
}

.board__row {
  display: flex;
}

.cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  border: none;
  transition: var(--background-transition);
}

.cell.cell--x {
  background-image: url('cross.svg');
}

.cell.cell--o {
  background-image: url('circle.svg');
}

.cell:hover {
  background-color: var(--color-primary-hover);
}

.board.board--player-2 .cell:hover {
  background-color: var(--color-secondary-hover);
} 

.cell:not([aria-disabled="true"]):hover {
  cursor: pointer;
}

.cell[data-x="0"] {
  border-right: var(--border);
}

.cell[data-x="2"] {
  border-left: var(--border);
}

.cell[data-y="1"] {
  border-top: var(--border);
  border-bottom: var(--border);
}
