:root {
  --border: 3px solid #EEE;
  --color-primary: #E7739A;
  --color-primary-hover: #FCEEF2;
  --color-secondary: #BEE265;
  --color-secondary-hover: #F8FCEE;
}

.board {
  max-width: 600px;
  max-height: 600px;
}

.board__row {
  display: flex;
}

.cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  border: none;
}

.cell.cell--x {
  background-image: url('cross.svg');
}

.cell.cell--o {
  background-image: url('circle.svg');
}

.cell:hover {
  background-color: var(--color-primary-hover);
}

.board.board--player-2 .cell:hover {
  background-color: var(--color-secondary-hover);
} 

.cell:not([aria-disabled="true"]):hover {
  cursor: pointer;
}

.cell[data-x="0"] {
  border-right: var(--border);
}

.cell[data-x="2"] {
  border-left: var(--border);
}

.cell[data-y="1"] {
  border-top: var(--border);
  border-bottom: var(--border);
}
